body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:458px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:320px;
  height:458px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:221px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:119px;
  width:300px;
  height:156px;
}
#u388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:156px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:292px;
  width:58px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:49px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:519px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u393 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:519px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u394 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:519px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u395 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:519px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(244, 245, 247, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u396_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(244, 245, 247, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u396.selected {
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A6A6A6;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:31px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A6A6A6;
}
#u400_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A6A6A6;
}
#u400.selected {
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A6A6A6;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:31px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A6A6A6;
}
#u402_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A6A6A6;
}
#u402.selected {
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:30px;
  width:24px;
  height:24px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  position:absolute;
  left:0px;
  top:64px;
}
#u406_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  background-image:none;
}
#u406_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  overflow:hidden;
  touch-action:none;
}
#u407_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u407_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:344px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:344px;
}
#u409_img.mouseDown {
}
#u409.mouseDown {
}
#u409_img.selected {
}
#u409.selected {
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:62px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:183px;
  width:244px;
  height:62px;
}
#u411_img.mouseDown {
}
#u411.mouseDown {
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:255px;
  width:22px;
  height:22px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:255px;
  width:22px;
  height:22px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:255px;
  width:22px;
  height:22px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:356px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:344px;
  width:320px;
  height:356px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:452px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:320px;
  height:452px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:218px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:258px;
  width:15px;
  height:15px;
}
#u423_img.selected {
}
#u423.selected {
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:614px;
  width:15px;
  height:15px;
}
#u425_img.selected {
}
#u425.selected {
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  visibility:hidden;
  background-image:none;
}
#u406_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:285px;
  width:201px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
  color:rgba(242, 242, 242, 0.6);
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:20px;
  width:50px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
