body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
}
#u434_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background-image:none;
}
#u434_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:548px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:74px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441 {
  position:absolute;
  left:0px;
  top:20px;
}
#u441_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background-image:none;
}
#u441_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:499px;
  width:320px;
  height:49px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:499px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u447 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:499px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u448 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:499px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u449 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:499px;
  width:49px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:10px;
  width:24px;
  height:24px;
}
#u450_img.mouseDown {
}
#u450.mouseDown {
  opacity:0.6;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:10px;
  width:24px;
  height:24px;
}
#u452_img.mouseDown {
}
#u452.mouseDown {
  opacity:0.6;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  position:absolute;
  left:0px;
  top:44px;
}
#u454_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  background-image:none;
}
#u454_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  overflow:hidden;
  touch-action:none;
}
#u455_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u455_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:14px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:320px;
  height:14px;
}
#u457_img.mouseDown {
}
#u457.mouseDown {
}
#u458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:320px;
  height:69px;
}
#u459_img.mouseDown {
}
#u459.mouseDown {
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:139px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:139px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:-4px;
  width:1px;
  height:1px;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:68px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:320px;
  height:68px;
}
#u463_img.mouseDown {
}
#u463.mouseDown {
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:320px;
  height:16px;
}
#u465_img.mouseDown {
}
#u465.mouseDown {
}
#u466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:68px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:320px;
  height:68px;
}
#u467_img.mouseDown {
}
#u467.mouseDown {
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:374px;
  width:320px;
  height:69px;
}
#u469_img.mouseDown {
}
#u469.mouseDown {
}
#u470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:68px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:443px;
  width:320px;
  height:68px;
}
#u471_img.mouseDown {
}
#u471.mouseDown {
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:511px;
  width:320px;
  height:21px;
}
#u473_img.mouseDown {
}
#u473.mouseDown {
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:-4px;
  width:1px;
  height:1px;
}
#u454_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:40px;
  width:1px;
  height:1px;
}
#u441_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  visibility:hidden;
  background-image:none;
}
#u441_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
}
#u475_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background-image:none;
}
#u475_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:68px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u480 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:69px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u475_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  visibility:hidden;
  background-image:none;
}
#u475_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
}
#u482_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background-image:none;
}
#u482_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:68px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u487 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:69px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:64px;
}
#u489_img.mouseDown {
}
#u489.mouseDown {
}
#u490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  visibility:hidden;
  background-image:none;
}
#u482_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
}
#u491_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u491_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u496 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:320px;
  height:1px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:499px;
  width:320px;
  height:49px;
  overflow:hidden;
}
#u499_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u499_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:217px;
  height:25px;
}
#u502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u499_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:495px;
  width:1px;
  height:1px;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:282px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:548px;
  width:320px;
  height:282px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:-4px;
  width:1px;
  height:1px;
}
#u475_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:-4px;
  width:1px;
  height:1px;
}
#u441_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  visibility:hidden;
  background-image:none;
}
#u441_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:451px;
  width:88px;
  height:44px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:347px;
  width:88px;
  height:44px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:281px;
  width:88px;
  height:44px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:165px;
  width:88px;
  height:44px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:115px;
  width:88px;
  height:44px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:64px;
  width:88px;
  height:44px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:71px;
  width:51px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u521_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(27, 136, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u521.selected {
}
#u522 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:72px;
  width:28px;
  height:28px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:122px;
  width:51px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u526_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(27, 136, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u526.selected {
}
#u527 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:123px;
  width:28px;
  height:28px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:172px;
  width:51px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u531_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(27, 136, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u531.selected {
}
#u532 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:173px;
  width:28px;
  height:28px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:288px;
  width:51px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u536_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(27, 136, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u536.selected {
}
#u537 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:289px;
  width:28px;
  height:28px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:354px;
  width:51px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u541_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(27, 136, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u541.selected {
}
#u542 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:355px;
  width:28px;
  height:28px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:458px;
  width:51px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u546_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(27, 136, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u546.selected {
}
#u547 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:459px;
  width:28px;
  height:28px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:16px;
  width:1px;
  height:1px;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
  color:rgba(242, 242, 242, 0.6);
}
#u552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:320px;
  height:1px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  visibility:hidden;
  background-color:rgba(0, 189, 204, 1);
  background-image:none;
}
#u434_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
}
#u555_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background-image:none;
}
#u555_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:54px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:503px;
  width:304px;
  height:54px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:98px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:396px;
  width:304px;
  height:98px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:440px;
  width:122px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u562 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:503px;
  width:122px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
  color:rgba(242, 242, 242, 0.6);
}
#u565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:320px;
  height:1px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:504px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 184, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:30px;
  width:109px;
  height:24px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#FCFFFF;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:30px;
  width:103px;
  height:24px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#FCFFFF;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:43px;
  background:inherit;
  background-color:rgba(25, 188, 209, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:147px;
  height:43px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#F2F2F2;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:268px;
  width:45px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#F2F2F2;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:256px;
  width:105px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u555_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(115, 169, 204, 1) 0%, rgba(115, 169, 204, 1) 0%, rgba(160, 181, 200, 1) 100%, rgba(160, 181, 200, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(115, 169, 204, 1) 0%, rgba(115, 169, 204, 1) 0%, rgba(160, 181, 200, 1) 100%, rgba(160, 181, 200, 1) 100%);
  background:linear-gradient(180deg, rgba(115, 169, 204, 1) 0%, rgba(115, 169, 204, 1) 0%, rgba(160, 181, 200, 1) 100%, rgba(160, 181, 200, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:548px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:67px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u555_ann {
  border-width:0px;
  position:absolute;
  left:313px;
  top:-4px;
  width:1px;
  height:1px;
}
